// 定义主题外貌 theme-appearance=dark
.dark, .dark::before, .dark::after
  /* 背景颜色 */
  --bg-color #060606
  /* 背景颜色 白 */
  --bg-white #222222
  /* 边框颜色 */
  --border-color #dadbde
  /* 禁用颜色 */
  --disabled-color #c8c9cc
  /* Error */
  --error #f56c6c
  --error-dark #e45656
  --error-disabled #f7b2b2
  --error-light #fef0f0
  /* Info */
  --info #909399
  --info-dark #767a82
  --info-disabled #c4c6c9
  --info-light #f4f4f5
  /* 主色调 */
  --primary #3c9cff
  --primary-dark #398ade
  --primary-disabled #9acafc
  --primary-light #ecf5ff
  /* Success */
  --success #5ac725
  --success-dark #53c21d
  --success-disabled #a9e08f
  --success-light #f5fff0
  // 常规文字 - 常规文字颜色一般用于内容的主体，如新闻列表的概要
  --text-content-color #cfcbcc
  // 占位文字 - 占位文字颜色属于更浅的灰色，看场景选择使用
  --text-light-color #c0c4cc
  /* 文字颜色 */
  --text-main-color #f4f4f4
  // 次要文字 - 次要文字颜色一般用于内容的提示部分，如新闻列表底部的时间，评论数量的提示文字
  --text-tips-color #909193
  /* Warning */
  --warning #f9ae3d
  --warning-dark #f1a532
  --warning-disabled #f9d39b
  --warning-light #fdf6ec
