@import './var-preset-color.styl'
// base -- 基础样式
// Preflight
// 一套武断的针对 color-ui 项目预设的基础样式
@import './base/Preflight.styl'
@import './border/border-color.styl'
@import './border/border-radius.styl'
@import './border/border-style.styl'
@import './border/border-width.styl'
@import './border/box-shadow.styl'

@import './layout/index.styl'

@import './background/background-color.styl'
@import './background/background-image.styl'

// FLEXBOX AND GRID
@import './flexbox-and-grid/index.styl'
// 间距
@import './margin-and-padding/index.styl'
// 尺寸
// 宽度
// 用来设置元素宽度的功能类
@import './size/width.styl'
// 排版
@import './typography/index.styl'
