@import './font/font-family.styl'
@import './font/font-size.styl'
@import './font/font-smoothing.styl'
@import './font/font-style.styl'
@import './font/font-variant-numeric.styl'
@import './font/font-weight.styl'
@import './font/letter-spacing.styl'
@import './font/line-height.styl'
@import './list/list-style-position.styl'
@import './list/list-style-type.styl'
@import './text/color.styl'
@import './text/text-align.styl'
@import './text/text-decoration.styl'
@import './text/text-overflow.styl'
@import './text/text-transform.styl'
@import './text/vertical-align.styl'
@import './text/white-space.styl'
